.App {
  text-align: center;
}

.navbar {
  display: flex;
  text-align: center;
  padding: 20px;
  margin: auto;
  border-bottom: 1px solid red;
  max-width: 600px;
  font-size: 20px;
}

.navbar h1 {
  color: red;
}

.navbar .links {
  margin-left: auto;
  margin-top: 30px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: red;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.bloglist .title {
  text-decoration: underline;
  color: red;
}

.blogs-preview {
  padding: 20px;
  border: 3px solid rgb(167, 165, 165);
  border-radius: 10px;
  margin-bottom: 10px;
}

.blogs-preview:hover {
  background-color: rgb(249, 246, 246);
}

.blogs-preview a {
  text-decoration: none;
}

.blogs-preview h2:hover {
  color: red;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: center;
}

.create h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 3px solid rgb(167, 165, 165);
  box-sizing: border-box;
}

.create button {
  background-color: red;
  color: white;
}

.details button {
  background-color: red;
  color: white;
}
